{% extends 'blog/base.html' %}

{% block bodypo %}

    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <p id="s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, aliquid doloribus deserunt vitae enim cupiditate odio, obcaecati accusamus ut sed possimus saepe dignissimos praesentium eius. Doloremque delectus cupiditate ex dolorem?</p>
    </div>
    {% endblock bodypo %}